<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Programming languages evolution</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body ng-controller='AppController'>
    <div class='container'>
      <div class='log'>{{ logMessage }}</div>
      <ul>
        <li ng-repeat='language in languages'>
          <a ng-href='{{language.url}}'>{{language.title}}</a> - {{language.info.parsedYear}}
          <p>influenced</p>
          <ul>
            <li ng-repeat='influenced in language.info.parsedInfluenced'
                class='reference'
                ng-class='{"known": !!influenced.ref}'>
              {{influenced.name}}
            </li>
          </ul>
          <p>influenced by</p>
          <ul>
            <li ng-repeat='influenced in language.info.parsedInfluencedBy'
                class='reference'
                ng-class='{"known": !!influenced.ref}'>
              {{influenced.name}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <script src='external.min.js' type="text/javascript" charset="utf-8">
    </script>
    <script src='bundle.js' type="text/javascript" charset="utf-8">
    </script>
  </body>
</html>
